:root{
    /* color */
    --primaryColor: #002939;
    --secondaryColor: #DDC190;
}

body{
    background-color: var(--primaryColor);
}

.form-login h4 span{
    color: var(--secondaryColor);
}

.cover{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.judul a{
    color: var(--primaryColor);
    text-decoration: none;
}

.desc{
    font-size: 14px;
    color: #c7c8ca;
    margin-top: 24px;
}

.text-bold{
    font-weight: bold;   
}

.link{
    text-decoration:underline;
    color: var(--primaryColor);
    font-weight: bold;
    transition: 300ms;
}

.link:hover{
    color: var(--secondaryColor);
    font-weight: bold;
}

.btn-red{
    background-color: var(--primaryColor);
    color: #fff;
    transition: 300ms;
    width: 150px;
    padding: 12px;
}

.btn-red:hover{
    background-color: var(--secondaryColor);
    color: #fff;
}

